body {
    background-color: #0533ff;
    color: white;
    font-family: "Arial", 10000%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: "Arial", 10000%;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}